<div class="container mt-3" th:fragment="content">
    <div class="container">
        <h1 th:text="#{welcome.title}"></h1>
        <p th:text="#{welcome.intro}"></p>
        <p th:text="#{welcome.description}"></p>
        <h4 th:text="#{welcome.listTitle}"></h4>
        <ul>
            <li th:text="#{welcome.list1}"></li>
            <li th:text="#{welcome.list2}"></li>
            <li th:text="#{welcome.list3}"></li>
            <li th:text="#{welcome.list4}"></li>
        </ul>
        <p th:text="#{welcome.endtext}"></p>
        <p th:text="#{welcome.closing}"></p>
    </div>
</div>