<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bee portal</title>
  <meta charset="utf-8">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>
    /* Header Styling */
    .header {

      background-size: cover;
      background-position: center;
      height: 200px;
      color: darkblue;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .header img {
      height: 80px;
      margin-bottom: 10px;
    }
    .header h1 {
      font-size: 36px;
      margin: 0;
    }
    .header p {
      font-size: 18px;
    }
    .navbar-nav li {
      margin-right: 15px; /* Adds spacing between menu items */
    }
    .navbar-nav a {
      padding: 5px 10px; /* Adds padding inside the link for more space */
      text-decoration: none; /* Optional: Remove underline for links */
    }
  </style>

</head>
<body>

<!-- Header Section -->
<div class="header">
  <h1 th:text="#{title}">Biportalen</h1>

  <div style="width: 80px; height: 80px; color: black;">
    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-flower2" viewBox="0 0 16 16">
      <path d="M8 16a4 4 0 0 0 4-4 4 4 0 0 0 0-8 4 4 0 0 0-8 0 4 4 0 1 0 0 8 4 4 0 0 0 4 4m3-12q0 .11-.03.247c-.544.241-1.091.638-1.598 1.084A3 3 0 0 0 8 5c-.494 0-.96.12-1.372.331-.507-.446-1.054-.843-1.597-1.084A1 1 0 0 1 5 4a3 3 0 0 1 6 0m-.812 6.052A3 3 0 0 0 11 8a3 3 0 0 0-.812-2.052c.215-.18.432-.346.647-.487C11.34 5.131 11.732 5 12 5a3 3 0 1 1 0 6c-.268 0-.66-.13-1.165-.461a7 7 0 0 1-.647-.487m-3.56.617a3 3 0 0 0 2.744 0c.507.446 1.054.842 1.598 1.084q.03.137.03.247a3 3 0 1 1-6 0q0-.11.03-.247c.544-.242 1.091-.638 1.598-1.084m-.816-4.721A3 3 0 0 0 5 8c0 .794.308 1.516.812 2.052a7 7 0 0 1-.647.487C4.66 10.869 4.268 11 4 11a3 3 0 0 1 0-6c.268 0 .66.13 1.165.461.215.141.432.306.647.487M8 9a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
    </svg>
  </div>
  <p th:text="#{slogan}">Biportalen - en plats för biodlare</p>
  <div class="language-switcher">
    <a href="?lang=sv" style="margin-right: 10px;"><img src="/flags/se.png" style="width: 32px; height: auto;"></a>
    <a href="?lang=en" style="margin-right: 10px;"><img src="/flags/gb.png" style="width: 32px; height: auto;"></a>
    <a href="?lang=no" style="margin-right: 10px;"><img src="/flags/no.png" style="width: 32px; height: auto;"></a>
    <a href="?lang=de"><img src="/flags/de.png" style="width: 32px; height: auto;"></a>
  </div>
</div>

<!-- Navbar Section -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" th:text="#{title}">Biportalen</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/}" th:text="#{home}">Hem</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/user/links}" th:text="#{links}">Länkar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/user/plans}" th:text="#{plans}">ritningar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/user/descriptions}" th:text="#{descriptions}">Beskrivningar</a>
        </li>
          <li class="nav-item" th:if="${#authentication.principal == 'anonymousUser'}">
            <a class="nav-link" th:href="@{/login}" th:text="#{login}">Logga in</a>
          </li>
          <!-- register link -->
            <li class="nav-item" th:if="${#authentication.principal == 'anonymousUser'}">
                <a class="nav-link" th:href="@{/register}" th:text="#{register}">Registrera</a>
            </li>
          <li class="nav-item" th:if="${#authentication.principal != 'anonymousUser'}">
            <a class="nav-link" th:href="@{/logout}" th:text="#{logout}">Logga ut</a>
          </li>
      </ul>
    </div>
  </div>
</nav>
<!-- placeholder for Secondary Navbar added from java controller -->
<div class="container mt-5" th:if="${submenu != null}">
  <div id="submenu" th:style="'background-color:' + ${submenu}" th:insert="~{${submenu} :: submenu}">
    <!-- This will be replaced by the content from content-page.html -->
  </div>
</div>
<!-- placeholder for Secondary Navbar added from java controller -->


<!-- content with welcome text -->
<div class="container mt-5">
  <div id="content" th:insert="~{${content} :: content}"></div>
</div>

</body>
</html>