<div class="container mt-3" th:fragment="submenu">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <ul class="nav" id="categoriesNav">
                <li class="nav-item">
                    <a class="nav-link" data-id=1 href="/user/plans/staplingskupa"
                       th:text="#{plans.stackable}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-id=2 href="/user/plans/staplingskupa"
                       th:text="#{plans.az}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-id=3 href="/user/plans/staplingskupa"
                       th:text="#{plans.stationary}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-id=4 href="/user/plans/staplingskupa"
                       th:text="#{plans.topbar}"></a>
                </li>
            </ul>
        </nav>
    </div>
</div>